body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodycontainer {
    display: flex;
    justify-content: space-evenly;
}

.box {
border: 1px solid lightgray;
box-sizing: border-box;
display: inline-block;
width: 32px;
height: 32px;
}

.gridContainer {
display: flex;
flex-direction: column;
align-items: center;
width: 1024px;
height: 1024px;
}

.gridContainer>div {
height: 32px;
}